<h1> Hello, <%= @manager.name %>! </h1>
  <div>
    <p> Your team member <%= @user.name %> has been successfully created new goal <%= @goal.name %>! </p>
    <br>
    <p> With regards, GTS team </p>
  </div>