<h1> Hello, <%= @user.name %> </h1>
  <div>
    <br>
      <p> We want to inform you that your goal's("<%= @goal.name %>") progress 
        was changed from "<%= @old_progress %>%" to "<%= @new_progress %>%" </p>
      <br>
      <p> With regards, GTS team </p>
  </div>