<h1> Hello, <%= @user.name %>! </h1>
<div>
  <br>
    <p> We want to remind you that the time for achieving your goal 
      "<%= @goal.name %>" will expire in <%= @expiration_day %> <%= "day".pluralize(@expiration_day) %>! </p>
  <br>
    <p> With regards, GTS team </p>
</div>
